.red{
    color: red;
    text-align: center;
}

.relative{
    position:relative;
    width: 300px;
    height: 202.96px;
}

.back{
    position: absolute;
    top: 0;
    left:0;
}

.kage{
    position: absolute;
    top: 0;
    left: 0;
}

.huti{
    position: absolute;
    top: 0;
    left: 0;
}

.moji{
    position: absolute;
    top: 0;
    left: 0;
}
