.red{
    color: #ff0000;
    text-align: center;
}

.waku{
    width: 350px;
    height: 245px;
    background-color: yellow;
}

.relative{
    position:relative;
    width: 300px;
    height: 202.96px;
}

.back{
    position: absolute;
    top: 0;
    left:0;
}

.kage{
    position: absolute;
    top: 0;
    left: 0;
}

.huti{
    position: absolute;
    top: 0;
    left: 0;
}

.moji{
    position: absolute;
    top: 0;
    left: 0;
}
