.text{
    justify-content: center;
}

.red{
    color: #ff0000;
    text-align: center;
}

.waku{
    width: 300px;
    height: 202.96px;
    background-color: yellow;
    padding: 5px;
    margin: auto;
}

.relative{
    position:relative;
    width: 300px;
    height: 202.96px;
}

.kyoka{
    text-align: center;
    margin-top: 10px;
}

.message{
    margin-top: 10px;
    color: black;
    text-align: center;
}

.back{
    position: absolute;
    top: 0;
    left:0;
}

.kage{
    position: absolute;
    top: 0;
    left: 0;
}

.huti{
    position: absolute;
    top: 0;
    left: 0;
}

.moji{
    position: absolute;
    top: 0;
    left: 0;
}

.qr{
    position: absolute;
    top: 0;
    left: 0;
}
